/* LWS Autocomplete Controls - Select */

.lac-input-wrapper{position: relative;}
.lac-input-text{border:none;border:1px solid #ddd;background-color:#fff;position: relative;height:28px;}
.lac-input-list{position:absolute;border:1px solid #ddd;background-color:#fff;
    top:27px;min-width:180px;max-height:200px;overflow-y:auto;box-sizing:border-box;
    padding:0;display:none;height:auto;z-index:300;
}
.lac-input-error{position:absolute;border:1px solid #df2500;background-color:#fee;
    top:28px; color: #600; padding:2px 10px;display:none;z-index:200;}

.lac-input-item{padding:5px;box-sizing: border-box;cursor:pointer;}
.lac-input-item:hover{background-color:#3fa9f5;color:#fff;}
.lac-highlighted, .lac-highlighted:hover{background-color:#015aa3;color:#fff;}
