/* FONTS */
@font-face { font-family: Gravity; src: url('fonts/Gravity-Regular.otf'); }
@font-face { font-family: Gravity; font-weight:300; src: url('fonts/Gravity-Light.otf');}
/* @font-face { font-family: lws_icons; font-weight:normal; src: url('fonts/lws_icons.ttf');} */

/* MAIN ELEMENTS - SPATIAL ORGANISATION */
.lws-adminpanel{font-family:Gravity;font-weight:300;margin:20px 0 0 0;flex:1;display:flex;flex-direction:column;}
#lws-TopBar{margin: 0 0 1em 0;display:flex;flex-direction:row;justify-content: space-between;}
#lws-Tabs{position:relative;flex:1;}

/* Admin Panel Theme Color classes */
.lws-theme-bg{background-color: #3fa9f5 !important;}
.lws-theme-fg{color: #3fa9f5 !important;}
.lws-theme-over-bg:hover{background-color: #3fa9f5;color:#eee;}
.lws-theme-over-fg:hover{color: #3fa9f5;}

/* ELEMENTS */
.ui-selectmenu-open{z-index:10;}

/* Admin Panel Titles */
.lws-adm-titlebar{display:flex;flex-direction:row;flex:1 1 auto;}
.lws-adm-title{float:left;font-size:1.5em;line-height:1.6em;padding: 0 0.3em 0 0.3em;font-family:Gravity;
	font-weight:300;text-transform:uppercase;border-radius: 4px 0 0 4px;}
.lws-admpanel-title{background:#333;color:#eee;}
.lws-title{color:#fff;border-radius: 0 4px 4px 0;}
.form-table th{font-weight:300;font-size:1.1em;}
.lws-field-expl a{color:#65ffb2;}

/* Option Menu */
.lws-opt-menu{height:30px;border:none;display:flex;flex-direction: row;margin-right:10px;flex:1 1 auto;justify-content: flex-end;}
.lws-opt-menu-link{flex:0 0 30px;height:30px;margin:0 0 0 2px;border-radius: 4px;font-size: 20px;color:#fff;
	flex:0 0 30px;text-decoration:none;background-color: #333;padding:5px;box-sizing: border-box}
.lws-opt-menu-text{height:30px;margin:0 0 0 2px;border-radius: 4px;font-size: 18px;color:#fff;text-align:center;
	text-decoration:none;background-color: #A34174;padding:5px;box-sizing: border-box;flex: 0 1 auto;overflow: hidden;}
.lws-opt-menu-text:hover{color:#fff;background: #eb2f77;}
.lws-opt-menu-logo{background: #333 url(../images/lws-favicon.png) center no-repeat;}
.lws-opt-menu-licence{flex: 0 1 auto;margin:0 0 0 2px;border-radius: 4px;text-decoration:none;height: 30px;box-sizing: border-box;padding:5px;}
.lws-opt-menu-licence:hover{color:#fff;}
.lws-opt-menu-licence-text{font-family: Gravity;font-weight: 300;font-size:18px;color:#fff;}
.lws-opt-menu-licence.lws-opt-licence-ok{background-color:rgb(9, 180, 52) !important;color:#fff;flex:0 0 30px;font-size:20px;}

/* Tabs */
.lws-mtab-content{border-top:2px solid #3fa9f5;background-color : #fafafa;padding : 0;}
#lws-adminpanel-activation-tab{float: right;background:#A34174}
#lws-adminpanel-activation-tab:hover{background:#EC52A3;}
#lws-adminpanel-showcase-tab{float: right;background:#EB2F77}
#lws-adminpanel-showcase-tab:hover{background:#FF3D47;}
.lws-mtab-content > form {margin-top:-18px;}

.lws-tabs-zone{width:100%;height:40px;display:flex;justify-content: center;}
.lws-mtab-left-sep{border-left:1px solid #eee;}
.lws-mtab-ul-0{background:#333;margin: 0 auto;flex:0 1 auto;display:flex;font-size: 1.1em;flex-direction: row;border-radius: 4px;}
.lws-mtab-ul-0 a{text-decoration:none;color:#eee;padding:10px 10px;}
.lws-mtab-li-0{font-weight:300;font-size: 18px;display:flex;line-height: 20px;margin:0;
	list-style: none;white-space: nowrap;position:relative;}
.lws-mtab-menu-arrow{font-size:15px;padding-left:5px;}
.lws-mtab-ul-1{position:absolute;top:40px;z-index:1000;background:#eee;color:#333;display: none;border-radius: 4px;}
.lws-mtab-li-1 {margin:0;height:25px;line-height: 25px;}
.lws-mtab-li-1 a{font-size:12px;font-weight: normal;height:25px;width:100%;position:relative;display: block;padding:0 10px;box-sizing: border-box;color:#333;}
a.lws-mtab-active{color:#3fa9f5;}

/* Tab Content */
.lws-table-of-content{position:absolute;top:50px;left:0;right:0;bottom:0;display:flex;flex-direction:row;}
.lws-table-of-content-menu{color:#fff;min-width:200px;vertical-align: top;background:#4D4D4D;padding: 0;}
.lws-table-of-content-page{flex:1;background-color : #fafafa;display:flex;overflow:auto;padding-left:6px;}
.lws-table-of-content-page h2{margin:0;clear:both;}
.lws-table-of-content-page-inside{flex:1;padding:0 5px 0 0;}
.lws-table-of-content-page-inside > form {margin-top:-20px;margin:0;padding-bottom:60px;}

/* Table Of Content Menu */
.lws-toc-ul{padding:0;margin:0;}
.lws-toc-li{height:30px;margin:0;border-bottom:1px solid #999;position:relative;}
.lws-toc-li a{font-family:"Gravity";height:20px;font-weight:300;font-size:1.3em;color:white;text-decoration:none;padding:5px 0px 5px 5px;display:block;width:100%;}
.lws-toc-li a.active{background:#3f81c5;}

/* Content */
.lws-form-div{margin:0;padding:10px 0 10px 10px;}
/* .lws-input{min-height: 28px;} */
input.lws-input[type="text"],input.lws-input[type="search"],input.lws-input[type="radio"],input.lws-input[type="checkbox"],
input.lws-input[type="tel"],input.lws-input[type="checkbox"],input.lws-input[type="time"],input.lws-input[type="url"],input.lws-input[type="week"],
input.lws-input[type="password"],input.lws-input[type="color"],input.lws-input[type="date"],input.lws-input[type="datetime"],
input.lws-input[type="datetime-local"],input.lws-input[type="email"],input.lws-input[type="month"],input.lws-input[type="number"],
textarea.lws-input{border:1px solid #ccc;box-shadow: none;-webkit-box-shadow:none;flex:auto;}
input.lws-input[type="text"],input.lws-input[type="search"],
input.lws-input[type="tel"],input.lws-input[type="time"],input.lws-input[type="url"],input.lws-input[type="week"],
input.lws-input[type="password"],input.lws-input[type="color"],input.lws-input[type="date"],input.lws-input[type="datetime"],
input.lws-input[type="datetime-local"],input.lws-input[type="email"],input.lws-input[type="month"],input.lws-input[type="number"],
textarea.lws-input{min-height: 28px;}
input.lws-input[type="text"]:focus,
input.lws-input[type="search"]:focus,
input.lws-input[type="radio"]:focus,
input.lws-input[type="checkbox"]:focus,
input.lws-input[type="tel"]:focus,
input.lws-input[type="checkbox"]:focus,
input.lws-input[type="time"]:focus,
input.lws-input[type="url"]:focus,
input.lws-input[type="week"]:focus,
input.lws-input[type="password"]:focus,
input.lws-input[type="color"]:focus,
input.lws-input[type="date"]:focus,
input.lws-input[type="datetime"]:focus,
input.lws-input[type="datetime-local"]:focus,
input.lws-input[type="email"]:focus,
input.lws-input[type="month"]:focus,
input.lws-input[type="number"]:focus,
textarea.lws-input:focus
{border:1px solid #3fa1f5;}
.lws-editlist-opt-input input[type="checkbox"]{position:relative;bottom:-11px;}
.lws-input::-moz-placeholder{color:#bbb;}
.lws-input::-webkit-input-placeholder{color:#bbb;}
.lws-input::placeholder{color:#bbb;}
.form_table{padding-left:10px;}
.lws-group-descr{margin:0;font-size:15px;background:#fefefe;border:1px solid rgba(63,169,245,0.2);padding:5px;}
.lws-blue-icon{color:#3fa1f5;font-size:15px;margin-right:5px;}
.lws-simple-title{box-sizing:border-box;width: 100%;border-bottom:1px solid #222;border-right:1px solid #222;background:#6f6f6f;height:30px;padding:0 0 0 5px;}
.lws-simple-title-text{color:#fff;font-family:"Gravity";font-weight:300;font-size:1.2em;line-height:1.4em;margin:0;}
.lws-autocomplete-select{overflow: hidden;position:relative;width:100%;height: 30px;}
.lws-adm-input-autocomplete{margin:0;border: 1px solid #ccc;box-sizing:border-box;height:28px;font-size:13px;color:#333;background:white;padding-right:28px;}
.lws-adm-btn-autocomplete{border:none;background:transparent;width:26px;height:26px;margin:0 0 0 -27px;padding:0;display:none;}
.lws-adm-btn-autocomplete span:after{content: "\e900";font-family: lws_icons;color:#3fa1f5;}
.ui-autocomplete{border:1px solid #ccc !important;border-top:none !important;box-shadow: none !important;max-height: 200px; overflow-y: auto; overflow-x: hidden;}
.lws-admin-table{font-family:"Gravity";clear:both;}
.ui-autocomplete-loading {background: white url("lws-loader.svg") right center no-repeat;z-index:300;}
.lws-input-alert{color: red;border: 1px solid red;}
.lws-error{border: 1px solid #4D4D4D;width:400px;font-style: italic;}
.lws-adm-media img{padding: 3px;border: 1px solid #f1f1f1;max-height: 200px;max-width: 100%;width: auto;}
.lws-form-table-tr, .lws-form-table-tr th{position:relative;}
.lws-activation-success{position: relative;}
.lws-field-help{font-size:15px;background:#fefefe;border:1px solid rgba(63,169,245,0.2);padding:5px;}
.lws-field-expl{font-size:15px;background:#777;padding:5px;color:#fff;position:relative;}
.lws-aceEditor{min-height:72px;}
.lws-field-expl ul{padding-left:15px;list-style-type:square;}
.lws-field-expl h2{color:#fff;font-weight: 300;font-family: "Gravity"}

/* Buttons */

.lws-adm-btn{background:#3f89c5;color:#fff;cursor:pointer;padding:5px 10px 5px 10px;text-decoration:none;border: none;border-radius: 0px !important;text-shadow: none !important;border-bottom:1px solid #666;}
.lws-adm-btn:hover{background:#3fa9f5;text-decoration:none;}
.lws-updpro{position:absolute;right:0;top:0;color:#fff !important;font-weight: 300;height:29.5px;text-decoration: none;padding:5px 10px;box-sizing: border-box;}

/* Edit-List */
.lws-editlist{font-family:"Gravity";clear:both;}
.lws-editlist-row{width: 100%;}
.lws-editlist-row:nth-child(even){background-color: #ffffff;}
.lws-editlist-row:nth-child(odd){background-color: #f1f1f1;}
.lws-editlist-cell{border-left: 1px solid white;}
.lws-editlist-header .lws-editlist-cell{background-color:#333333;color: white;}
.lws-editlist-fieldset{min-height:60px;box-sizing: border-box;}
.lws-editlist-fieldset label{clear:both;margin:10px 0 0 0;display:flex;}
.lws-editlist-fieldset br{display: block;content:"";margin-top:5px;}
.lws-editlist-fieldset input.lws-adm-input-autocomplete{width:100%;}
.lws-editlist-fieldset button.lws-adm-btn-autocomplete{	width:26px;height:26px;	margin:0 0 0 -26px;padding:0;line-height:28px;}
.lws-editlist-line-inputs{display:flex;flex-wrap: wrap;}
.lws-editlist-line-btns{clear:both;padding-top:10px;padding-right:10px;}
.lws-editlist-btn-sep{padding: 0 5px 0 5px;word-wrap: normal;overflow:visible;}
.lws-editlist-btn-del{color: red;cursor:pointer;word-wrap: normal;overflow:visible;}
.lws-editlist-btn-mod{color: #3fa1f5;cursor:pointer;word-wrap: normal;overflow:visible;}
.lws-editlist-btn-dup{color: #3fa1f5;cursor:pointer;word-wrap: normal;overflow:visible;}
.lws-editlist-btn-cancel{float:left;cursor:pointer;word-wrap: normal;overflow:visible;}
.lws-adm-btn.lws-editlist-btn-save{float:right;cursor:pointer;background:#3f89c5;color:#fff;cursor:pointer;text-decoration:none;border: none;border-radius: 0px !important;text-shadow: none !important;border-bottom:1px solid #666;}
.lws-adm-btn.lws-editlist-btn-save:hover{background:#3fa9f5;text-decoration:none;color:#fff;}
.lws-editlist-add{float: right;margin-bottom:10px;margin-right:1px;}
.lws-editlist-title{text-transform: uppercase;color: #666;border-bottom:1px solid #3fa9f5;margin-right:10px;}
.lws-editlist-opt-title{font-weight:300;font-style: italic;color: #666;display: block;float: left;min-width: 9em;line-height: 28px;clear:both;margin-right:5px;}
.lws-editlist-opt-text{font-weight:normal;color: #333;display: block;line-height: 2.5;}
.lws-editlist-opt-input{display:block;padding: 0 10px 0 0;min-height:28px;flex:auto;display:flex;box-sizing: border-box;position:relative;}
.lws-editlist-opt-input select{flex:auto;}
.lws-editlist-opt-input input[type="url"]{flex:1 1 auto;border:1px solid #ccc;box-shadow: none;margin:0;}
.lws-editlist-opt-input input[type="text"]{flex:1 1 auto;border:1px solid #ccc;box-shadow: none;}
.lws-editlist-buttons{overflow:visible;width:250px;}
.lws-tablenav{display: flex;flex-direction: row;justify-content: flex-end;padding-top:10px;}
.lws-tablenav-ipp{padding-right:20px;flex:1 1 auto;}
.lws-tablenav-pages{font-family:"Gravity";font-weight:300;color:black;}
.lws-displaying-num{display:inline-block;margin-right:10px;}
.lws-paging-input input{width: 4em;}
.lws-paging-input span{margin-right: 3px;}

.lws-perpage-input{display:flex;flex-direction:row;justify-content: flex-end;}
.lws-perpage-input input{width: 4em;box-shadow: none;border:1px solid #ccc;height:29px;}
.lws-perpage-input .lws-label-ipp{flex:0 1 auto;line-height:29px;padding:2px 5px 0 0;}
.lws-perpage-input .lws-input-ipp{flex:0 0 29px;height:29px;box-sizing: border-box;border:1px solid #ccc;margin:2px 1px;
	padding:4px 5px 7px 5px;cursor: pointer;background:#fff;
}
.lws-perpage-input .lws-input-ipp-sel{background-color:#3f81c5;color:#fff;}
.lws-perpage-input .lws-input-ipp:hover{color:#fff;background-color:#3fa9f5;}
.lws-paging-navspan{display: inline-block;min-width: 17px;border: 1px solid #ccc;background:#fff;
					padding: 4px 5px 7px;line-height:1;font-size: 16px;text-align: center;margin:2px;cursor:pointer;}
.lws-paging-navspan-ko{background: #eee;color:#ccc;border-color:#aaa;}
.lws-paging-navspan-ok{color:#3fa9f5;}
.lws-paging-navspan-ok:hover{background-color:#3fa9f5;color:#fff;border-color:#3fa1f5}
.lws-paging-input input{border:1px solid #ccc;box-shadow: none;margin: 0px 1px 2px 1px;padding:4px 5px 2px 5px;}
.lws-editlist-filters-first-line{display:flex;flex-direction: row;}
.lws-editlist-actions{margin-right:auto;}
.lws-editlist-action input{font-family:"Gravity";font-weight:300;color:black;border:1px solid #ccc;box-shadow: none;}
.lws-editlist-filter{margin-left:auto;}
.lws-editlist-filter input{font-family:"Gravity";height:28px;margin-right:2px;font-weight:300;color:black;border:1px solid #ccc;box-shadow: none;}
.lws-editlist-filter button{margin-right:2px;}
.lws-editlist-filter a{text-decoration:none;font-size: 13px;}
.lws-editlist-filter-selection{margin:0 auto 0 0;padding-top:10px;}
.lws-editlist-filter-search{margin-left:auto;}
.lws-editlist-opt-icon{color:#3fa9f5;line-height:28px;flex:0 0 20px;}

/* LWS Autocomplete */
.lws-autocomplete{display:inline-flex;margin:0;border: 1px solid #ccc;box-sizing:border-box;height:28px;font-size:13px;color:#333;background:white;}
.lws-autocomplete input{border:none;flex:auto;color:#333;background:white;}
.lws-autocomplete input::-moz-placeholder{color:#bbb;}
.lws-autocomplete input::-webkit-input-placeholder{color:#bbb;}
.lws-autocomplete input::placeholder{color:#bbb;}
.lws-autocomplete-toggle{color:#3fa9f5;line-height:28px;flex:0 0 20px;padding:0 4px 0 4px;box-sizing: border-box;}
.lws-tooltip{z-index:9999}
.lws-autocomplete-tooltip{width:256px;word-wrap: break-word;background:#fefefe;border:1px solid rgba(63,169,245,0.2);padding:5px;}

/* LAC Autocomplete */
.lac-loading {background-image:url("lws-loader.svg");background-position: right center;background-repeat: no-repeat;}


/* LWS Taglist */
.lws-taglist-wrapper{display: flex;flex-direction: column;}
.lws-taglist-top{flex: 0 0 30px;}
.lws-taglist-bottom{flex: 1 1 auto;border:1px solid #eee;background-color:#fff;width:350px;min-height:100px;
	display:flex;flex-direction:row;flex-wrap: wrap;align-content: flex-start;
}
.lws-taglist-input{width:350px;}
.lws-taglist-btadd{color:#fff;background-color:#3f89c5;height:30px;padding:5px 10px;cursor: pointer;text-decoration:none;}
.lws-taglist-btadd:hover{color:#fff;background-color:#3fa9f5;}
.lws-tag-wrapper{margin:2px 0 0 2px;background-color:#f5f5f5;padding:5px 10px 2px 10px;height:20px;font-size:14px;line-height:14px;
	display:flex;flex-direction:row;
}
.lws-tag-text{padding-right:5px;}
.lws-tag-remove{cursor: pointer;font-size:12px;position:relative;bottom:0;top:2px;}

/* Column Widths */
.col20{flex: 20 1 auto;}
.col30{flex: 30 1 auto;}
.col35{flex: 35 1 auto;}
.col40{flex: 40 1 auto;}
.col50{flex: 50 1 auto;}
.col70{flex: 70 1 auto;}

/* Flex */
.lws-flex-vert{display:flex;flex-direction: column;}
.lws-flex-hor{display:flex;flex-direction:row;}

/* Margins and Paddings */
.mgl5{margin-left:5px;}
.mgr5{margin-right:5px;}
.mgt10{margin-top:10px;}
.pdr5{padding-right:5px;}
.margin-autocomplete{margin:3px 0 0 3px;}

/* Line Height */
.lws-small-height{line-height: 1.5em;}

/* Form Fields */
.lws-required-check{position: absolute;height:28px;width:16px;background-color:#ccc;color:#fff;line-height: 28px;font-size:12px;padding:0 0 0 4px;}
.lws-required-blue{background-color:#3fa9f5;}
.lws-required-green{background-color:#2bb300;}
.lws-required-red{background-color:#ff1d25;}
.lws-required-orange{background-color:#ff931e;}

/* jQuery SelectMenu */
.ui-selectmenu-menu {padding: 0;margin: 0;position: absolute;top: 0;left: 0;display: none;background:#fff;box-sizing:border-box;border:1px solid #999;border-top:none;}
.ui-selectmenu-menu .ui-menu {overflow: auto;overflow-x: hidden;margin:0;}
.ui-selectmenu-menu .ui-front .ui-selectemenu-open{box-sizing: border-box;}
.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {font-size: 1em;font-weight: bold;line-height: 1.5;padding: 2px 0.4em;margin: 0.5em 0 0 0;height: auto;border: 0;}
.ui-selectmenu-open {display: block;}
.ui-selectmenu-text {display: block;margin-right: 26px;overflow: hidden;text-overflow: ellipsis;padding-left:5px;height:26px;}
.ui-selectmenu-button {text-align: left;white-space: nowrap;box-sizing:border-box;line-height:28px;height:28px;display:block;border:1px solid #ccc;background:#fff;}
.lws-editlist-fieldset span.ui-selectmenu-button{flex:auto;margin:1px;}
.ui-selectmenu-button span.ui-icon {float: right;width:26px;height:26px;margin: 0 0 0 -26px;line-height: 28px;}
.ui-selectmenu-button span.ui-icon:after{content: "\e900";font-family: lws_icons;margin-left:6px;color:#3fa1f5;}
.ui-menu-item{padding:5px;margin-bottom:0;}
.ui-menu-item:hover{background:#3fa1f5}
.ui-icon{text-indent: 0;}

/* Submit Button */
p.submit
{position: fixed;right: 31px;bottom: -4px;border:none;border-radius:0;background: #eee;padding: 1em !important;z-index:99999;}
input#submit{background:#3f89c5;color:#fff;text-decoration:none;border: none;border-radius: 0px !important;text-shadow: none !important;}
input#submit:hover{background:#3fa9f5;text-decoration:none;}


.lws-second-activation-method{cursor:pointer;font-size:10px;}
/*
.lws-activation-info{}
.lws-activation-success{}
.lws-activation-error{}
*/

/* Singular */
.lws-adminpanel-singular-body{position:relative;flex:1 1 auto; overflow-y: auto;margin-top:20px;}
#lws-adminpanel-singular-container{display:flex;flex-direction:row;position: relative;position: absolute;width:100%}
.lws-adminpanel-singular-box{margin:0px 0px 15px 0px;font-size:15px;background:#fefefe;border:1px solid rgba(63,169,245,0.2);padding:5px;}
#lws-adminpanel-singular-edit{flex:1 1 auto;}
#lws-adminpanel-singular-actions{flex:0 0 200px;margin:0 15px 0 15px;}
.lws-adminpanel-singular-main-action-button{text-align:right;}
.lws-adminpanel-singular-delete-button{color:red;font-size:12px;}
